---
{
  "title": "Identity - Business Cards",
  "data": {
    "brand-color-primary": "hsl(200,95%,50%)",
    "brand-font": "",
    "brand-logo": "http://netengine-blog-media.s3.amazonaws.com/netengine-logo-blue.svg",
    "artwork": "http://netengine.com.au/assets/images/heros/1.jpg",
    "name": "Josephine Stevenson",
    "title": "Regional Arse Kicker",
    "phone": "+61(0)412 345 567",
    "email": "josephine.stevenson@company.com",
    "twitter": "@josephine_stevenson",
    "web-address": "company.com"
  }
}
---
