/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------------- */
/* -- Crop marks -- */
/* ---------------- */
/* Default 3mm bleed */
.crop-mark {
  width: 71px;
  height: 71px;
  position: absolute;
  z-index: 2; }

.crop-mark:before, .crop-mark:after {
  content: '';
  display: block;
  position: absolute;
  background-color: black; }

.crop-mark.top-left {
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.crop-mark.top-left:after {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 50%; }

.crop-mark.top-left:before {
  top: 0;
  right: 0;
  width: 1px;
  height: 50%; }

.crop-mark.top-right {
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%); }

.crop-mark.top-right:after {
  bottom: 0;
  right: 0;
  height: 1px;
  width: 50%; }

.crop-mark.top-right:before {
  top: 0;
  left: 0;
  width: 1px;
  height: 50%; }

/* Bottom */
.crop-mark.bottom-left {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.crop-mark.bottom-left:after {
  top: 0;
  left: 0;
  height: 1px;
  width: 50%; }

.crop-mark.bottom-left:before {
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50%; }

.crop-mark.bottom-right {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.crop-mark.bottom-right:after {
  top: 0;
  right: 0;
  height: 1px;
  width: 50%; }

.crop-mark.bottom-right:before {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 50%; }

/* ---------------- */
/* -- Typography -- */
/* ---------------- */
/* Font families */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif; }

body {
  font-family: 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif; }

/* Vertical Rhythm */
body {
  line-height: 1.6em; }

p {
  margin-top: 0;
  margin-bottom: 0.8em; }

h1 {
  font-size: 3em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  line-height: 1.0672em; }

h2 {
  font-size: 2em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  line-height: 0.8em; }

h3 {
  font-size: 1.333em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.6em; }

h4 {
  font-size: 1.2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.6em; }

h5 {
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.6em; }

h5 {
  font-size: 0.8em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.6em; }

body {
  overflow: hidden; }

body, main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main {
  position: relative;
  background: whitesmoke; }
