---
width: 1890px
height: 2622px
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <style>
      body { position: relative; }
      main { display: block }
    </style>
  </head>

  <body style="width: 1890px; height: 2622px; padding: 35.5px;">
    <main style="width: 1819px; height: 2551px; padding: 35.5px;">
      <!-- Finished, cropped area (300dpi) = 1748px x 2480px. 35.5px = 3mm bleed -->

      <!-- Design here -->
      <!-- /Design here -->

      <div class='crop-mark top-left'></div>
      <div class='crop-mark top-right'></div>
      <div class='crop-mark bottom-left'></div>
      <div class='crop-mark bottom-right'></div>
    </main>
  </body>
</html>
