
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href='http://net-engine.github.io/outfit-starter-templates/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <style>
      body { position: relative; }
      main { display: block }
    </style>
  </head>

  <body style="width: 3650px; height: 5103px; padding: 35.5px;">
    <main style="width: 3579px; height: 5032px;  padding: 35.5px;">
      <!-- Finished, cropped area (300dpi) = 3508px x 4961px. 35.5px = 3mm bleed -->

      <!-- Design here -->
      <!-- /Design here -->

      <div class='crop-mark top-left'></div>
      <div class='crop-mark top-right'></div>
      <div class='crop-mark bottom-left'></div>
      <div class='crop-mark bottom-right'></div>
    </main>
  </body>
</html>
