
<!DOCTYPE html>
<html lang="en" style="width: 7158px; height: 10075px; padding: 35.5px;">
  <head>
    <meta charset='utf-8'>
    <link href='http://net-engine.github.io/outfit-starter-templates/templates/print/a1/stylesheets/main.css' rel='stylesheet' />
  </head>

  <body style="width: 7087px; height: 10004px;  padding: 35.5px;">
    <!-- Finished, cropped area = 7016px x 9933px. 35.5px = 3mm bleed -->

    <h1>{{ title }}</h1>

    <div class='crop-mark top-left'></div>
    <div class='crop-mark top-right'></div>
    <div class='crop-mark bottom-left'></div>
    <div class='crop-mark bottom-right'></div>

    <script src='http://net-engine.github.io/outfit-starter-templates/templates/print/a1/javascripts/main.js'></script>
  </body>
</html>
