
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href='http://net-engine.github.io/outfit-starter-templates/global-assets/stylesheets/print/global_print.css' rel='stylesheet' />
    <link href='http://net-engine.github.io/outfit-starter-templates/templates/print/a0/stylesheets/main.css' rel='stylesheet' />
  </head>

  <body style="width: 10075px; height: 14185px; padding: 35.5px;">
    <main style="width: 10004px; height: 14114px;  padding: 35.5px;">
      <!-- Finished, cropped area = 9933px x 14043px. 35.5px = 3mm bleed -->

      <article>
        <header>
          <h1>{{ title }}</h1>
        </header>

        {{{ content }}}
      </article>

      <div class='crop-mark top-left'></div>
      <div class='crop-mark top-right'></div>
      <div class='crop-mark bottom-left'></div>
      <div class='crop-mark bottom-right'></div>
    </main>

    <script src='http://net-engine.github.io/outfit-starter-templates/templates/print/a0/javascripts/main.js'></script>
  </body>
</html>
