// ---------------- //
// -- Typography -- //
// ---------------- //

$font-family: 'Helvetica Nue', 'Helvetica', 'Arial', sans-serif !default;
$line-height: 1.6em !default;

// Font families //

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}

body { font-family: $font-family; }

// Vertical Rhythm //

body { line-height: $line-height; }

p {
  margin-top: 0;
  margin-bottom: $line-height / 2;
}

h1 {
  font-size: 3em;
  margin-top: $line-height;
  margin-bottom: $line-height;
  line-height: $line-height * 0.667;
}

h2 {
  font-size: 2em;
  margin-top: $line-height;
  margin-bottom: $line-height;
  line-height: $line-height * 0.5;
}

h3 {
  font-size: 1.333em;
  margin-top: $line-height / 2;
  margin-bottom: $line-height / 2;
  line-height: $line-height;
}

h4 {
  font-size: 1.2em;
  margin-top: $line-height / 2;
  margin-bottom: $line-height / 2;
  line-height: $line-height;
}

h5 {
  font-size: 1em;
  margin-top: $line-height / 2;
  margin-bottom: $line-height / 2;
  line-height: $line-height;
}

h5 {
  font-size: 0.8em;
  margin-top: $line-height / 2;
  margin-bottom: $line-height / 2;
  line-height: $line-height;
}

small {
  font-size: 0.75em;
  line-height: $line-height;
}

.text-align-center {
  text-align: center;
}
