
// @import '/global-assets/stylesheets/global/typography';

$font-family: 'Open Sans', 'Helvetica Nue', 'Helvetica', 'Arial', 'Verdana', sans-serif;

html { height: 100%; }

body {
  overflow: hidden;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: 110%;
  line-height: 1.5em;
  color: white;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img {
  display: block;
  margin: auto;
  width: auto;
  max-width: 100%;
}

.wrapper {
  text-align: center;
}

.show-grid {
  position: relative;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    opacity: .25;
    background-image: linear-gradient(90deg, transparent 50%, rgba(white, .5) 50%),
                      linear-gradient(0deg, transparent 50%, rgba(white, .5) 50%);
    background-size: (100% / 6) (100% / 6);
  }
}

.message-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%,-50%);
  margin-top: -8.3334%;
}

.logo {
  position: absolute;
  height: 8.3334vh;
  margin: 12.5% auto;
  left: 50%;
  transform: translateX(-50%);
}

.message {
  border-top: thin solid;
  border-bottom: thin solid;
  padding: .5em 0;
}

.call-to-action {
  margin-top: .75em;
  font-size: 1.5em;
}

.terms-and-conditions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 16.667%;
  box-sizing: border-box;
  padding: .75em;
  background: white;
  color: black;

  small {
    display: block;
    font-size: 65%;
    line-height: 1.25em;
    text-align: left;
  }
}


.small {
  .content {
    position: absolute;
    top: 4.1667%;
    left: 12.5%;
    right: 12.5%;
    bottom: 20.83334%;
    box-shadow: 0 0 0 1000px white;
  }

  .message-wrapper {
    margin-top: 8.3334%;
  }

  .logo {
    margin: 0;
    width: 50%;
    height: auto;
    top: 25%;
    transform: translate(-50%,-25%);
  }
}

.small.circle .content { border-radius: 50%; }

.small.diamond .content {
  box-shadow: none;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    margin: -37.5%;
    box-shadow: 0 0 0 1000px white;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
  }
}
