$page-margin: 1.5rem;
$max-logo-height: 8rem;
$max-logo-width: 16rem;

html, :root { 
  height: 100%; 
  font-size: 6.4pt;
  line-height: 1.5em;
}

body {
  overflow: hidden;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

img.logo {
  display: block;
  width: auto;
  max-width: 100%;
  max-height: $max-logo-height;
  margin: auto;
}

.content-block {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.call-to-action_button { 
  padding: 0.5em; 
  border-width: thin;
  border-style: solid;
  border-radius: 0.25em;
  font-size: 1.25em;
  text-align: center;
}


#artwork { flex: 1; }

#content { 
  flex: 1;
  display: flex;
  flex-direction: column;
}

#titles { 
  flex: 1; 
  position: relative;
  padding: $page-margin;
}

#headline { 
  margin: 0; 
  color: white;
  font-size: 2rem;
  line-height: 1.2em;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#sub-content {
  background-color: white;
  color: black;
  padding: $page-margin;
  flex: 0 0 auto;
}

#artwork + #content {
  flex: 0 0 auto;
  background: white;
  color: black;
  padding: $page-margin;

  #titles {
    padding: 0.75rem 0; 
  }

  #headline { color: inherit; }

  #sub-content {
    background-color: transparent;
    padding: 0;
  }
}

#brand-logo {
  min-width: 6rem;
  max-width: $max-logo-width;
  margin: auto;
}

#terms-and-conditions {
  padding-top: 1.5rem;
  background-color: white;
  color: black;
  font-size: 0.75em;
  line-height: 1.333em;

  *:last-child { margin-bottom: 0; }
}

@media (min-width: 150px) and (min-height: 150px) {
  html, :root { font-size: 7pt; }
}

@media (min-width: 500px) and (min-height: 500px) {
  html, :root { font-size: 9pt; }
  
  #body-copy {
    column-count: 2;
    column-gap: $page-margin;
  }

  #headline { 
    font-size: 3rem;
  }
}

@media (orientation: portrait) {
  main {
    display: flex;
    flex-direction: column;
  }

  #artwork + #content #headline { 
    position: static;
    transform: none;
  }
}

@media (orientation: landscape) {
  main {
    display: flex;
    flex-direction: row;
  }

  #artwork {
    flex: 1 1 33.333%;
  }

  #artwork + #content {
    flex: 1 1 66.667%;
  }
}

@media (orientation: landscape) and (min-width: 500px) {
  main {
    display: flex;
    flex-direction: row;
  }

  #artwork {
    flex: 1 1 50%;
  }

  #artwork + #content {
    flex: 1 1 50%;
  }
}
