---
{
  "title": "Promotion",
  "data": {
    "brand-color-primary": "hsl(200,95%,50%)",
    "brand-font": "",
    "brand-logo": "http://netengine-blog-media.s3.amazonaws.com/netengine-logo-blue.svg",
    "artwork": "http://netengine.com.au/assets/images/heros/1.jpg",
    "headline": "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
    "body": "<p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci.</p>",
    "call-to-action": "Like us on Facebook",
    "terms-and-conditions": "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  }
}
---
