
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href='http://net-engine.github.io/outfit-starter-templates/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <link href='http://net-engine.github.io/outfit-starter-templates/templates/print/assets/stylesheets/demo-layouts/poster.css' rel='stylesheet' />
    <style>
      body { 
        position: relative; 
      }
      main { 
        display: block; 
        position: absolute;
        left: 3mm;
        right: 3mm;
        top: 3mm;
        bottom: 3mm;
      } 
    </style>
  </head>

  <body style="width: 309mm; height: 432mm;">
    <main>
      <!-- Finished, cropped area = 297mm x 420mm. 3mm bleed -->

      <!-- Design here -->
      <article>
        <header id="banner-area">
          <h1 id="title" class="vertical-center top-layer">{{ title }}</h1>
        </header>

        <section id="content-area">
          <div class="text-columns">
            {{{ content }}}
          </div>
        </section>

        <footer>
          <div class="logo bottom-right"><span class="vertical-center">L</span></div>
        </footer>
      </article>
      <!-- /Design here -->

      <div class='crop-mark top-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark top-right' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-left' style="width: 6mm; height: 6mm"></div>
      <div class='crop-mark bottom-right' style="width: 6mm; height: 6mm"></div>
    </main>
  </body>
</html>
