---
{
  "title": "Promotion - Social Media",
  "data": {
    "brand-color-primary": "hsl(200,95%,50%)",
    "brand-font": "",
    "brand-logo": "http://netengine-blog-media.s3.amazonaws.com/netengine-logo-blue.svg",
    "artvork": "http://netengine.com.au/assets/images/heros/1.jpg",
    "artwork-sizing": "cover",
    "headline": "Lorem ipsum dolor sit amet, consectetur adipisicing elit.",
    "headline-short": "Lorem ipsum dolor sit amet.",
    "body": "<p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci.</p>",
    "body-short": "<p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.</p>",
    "call-to-action": "Like us on Facebook",
    "terms-and-conditions": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>",
    "terms-and-conditions-short": "<p>Terms and conditions apply.<br />Visit example.com/terms for more information.</p>"
  }
}
---
