---
width: 5103px
height: 7158px
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/global-assets/stylesheets/print/crop-marks.css' rel='stylesheet' />
    <style>
      body { position: relative; }
      main { display: block }
    </style>
  </head>

  <body style="width: 5103px; height: 7158px; padding: 35.5px;">
    <main style="width: 5032px; height: 7087px;  padding: 35.5px;">
      <!-- Finished, cropped area = 4961px x 7016px. 35.5px = 3mm bleed -->

      <!-- Design here -->
      <!-- /Design here -->

      <div class='crop-mark top-left'></div>
      <div class='crop-mark top-right'></div>
      <div class='crop-mark bottom-left'></div>
      <div class='crop-mark bottom-right'></div>
    </main>
  </body>
</html>
