---
title: HTML Email Newsletter
data:
  brand-color-primary: "hsl(200,95%,50%)"
  brand-font: ""
  brand-logo: "http://netengine-blog-media.s3.amazonaws.com/netengine-logo-blue.svg"
  artwork: "http://placehold.it/600x300/444"
  headline: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
  body: "<p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci.</p> <p>Bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci.</p>"
  call-to-action: "Like us on Facebook"
  call-to-action-url: "http://google.com"
  facebook_url: "http://facebook.com/mybusiness"
  twitter_url: "http://twitter.com/mybusiness"
  linkedin_url: "http://linkedin.com/mybusiness"
  disclaimer: "Terms and conditions apply. Visit example.com/terms for more information."
---
