
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='http://net-engine.github.io/outfit-starter-templates/templates/web-advertisement/stylesheets/main.css' rel='stylesheet'>
  </head>
  <body class='size-180-90' style='width: 180px; height: 90px'>
    <main class='outer-wrapper'>
      <div class='branding'>
      </div>
      <div class='text-wrapper'>
        <div class='text'>
          {{{ long-message }}}
          <div class='call-to-action'>
            {{ call-to-action }}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
