---
width: 120px
height: 600px
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='<%= baseUrl %>/templates/web/banners/stylesheets/main.css' rel='stylesheet'>

    <style>
      body {
        background-image: url('{{{ background-image }}}');
      }
    </style>
  </head>
  <body class='size-120-600' style='width: 120px; height: 600px'>
    <main class='outer-wrapper'>
      <div class='branding'>
        <div class="logo"><span class="vertical-center">L</span></div>
      </div>
      <div class='text-wrapper'>
        <div class='text'>
          {{{ long-message }}}
        </div>

        <div class='call-to-action'>
          {{ call-to-action }}
        </div>
      </div>
    </main>
  </body>
</html>
