---
width: 1205px
height: 792px
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="<%= baseUrl %>/global-assets/stylesheets/print/global_print.css" rel="stylesheet" />
    <link href="<%= baseUrl %>/templates/print/business-card/stylesheets/main.css" rel="stylesheet" />
  </head>

  <body style="width: 1205px; height: 792px; padding: 35.5px;">
    <main id="front" style="width: 1134px; height: 721px; padding: 35.5px;">
      <!-- Finished, cropped area (300dpi) = 1063px x 650px -->
      <!-- 35.5px padding = 3mm bleed -->

      <article>
        <header class="absolute-one-half-left vert-center">
          <h1>{{ first-name }} {{ last-name }}</h1>
        </header>

        <section class="absolute-one-half-right vert-center">
          <dl>
            {{#contact-details}}
            <dt><i class="fa fa-fw fa-{{ type }}"></i></dt>
            <dd>{{ detail }}</dd>
            {{/contact-details}}
          </dl>

          {{#address}}
          <address>
            {{{ address }}}
          </address>
          {{/address}}
        </section>
      </article>

      <div class='crop-mark top-left'></div>
      <div class='crop-mark top-right'></div>
      <div class='crop-mark bottom-left'></div>
      <div class='crop-mark bottom-right'></div>
    </main>

    <script src='<%= baseUrl %>/templates/print/business-card/javascripts/main.js'></script>
  </body>
</html>
