
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='http://net-engine.github.io/outfit-starter-templates/templates/web/banners/stylesheets/main.css' rel='stylesheet' />

    <style>
      body {
        background-image: url('{{{ background-image }}}');
      }
    </style>
  </head>
  <body class='size-728-90 landscape' style='width: 728px; height: 90px'>
    <main class='outer-wrapper'>
      <div class='branding'>
        <div class="logo"><span class="vertical-center">L</span></div>
      </div>
      <div class='text-wrapper'>
        <div class='text'>
          {{{ short-message }}}
        </div>

        <div class='call-to-action'>
          {{ call-to-action }}
        </div>
      </div>
    </main>
  </body>
</html>
